body {
  direction: rtl;
  text-align: center;
  position: relative;
  min-height: 700px;
}

.container {
  text-align: center;
  margin-top: 20px;
}
.aboutCon {
  display: flex;
  text-align: center;
}
.aboutTxt {
  width: 60%;
  text-align: right;
  margin: 40px;
  justify-content: flex-start;
  height: 500px;
}
.aboutImgDiv {
  justify-content: flex-start;
  width: 30%;
  margin-right: 30px;
  height: 500px;
}
.aboutImg {
  height: 400px;
  margin-top: 50px;
}

header {
  width: 100%;
  text-align: center;
}

.clockimg {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  background-image: url("./assets/home.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.pbtn {
  justify-content: center;
  margin: 50px;
  height: 200px;
  width: 200px;
}
.categoryDiv {
  background-image: url("./assets/home.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  text-align: center;
  width: 100%;
  position: fixed;
}
.categoryinfo {
  text-align: right;
  padding: 100px;
  line-height: 40px;
  z-index: -1;
  width: 70%;
  margin-top: 100px;
}
.nav-tabs {
  font-size: 20px;
}

.category {
  display: inline-block;
  border: 2px groove black;
  padding: 40px;
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.555);
  flex: 20px;
  height: 240px;
  width: 240px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

li:hover {
  background-color: azure;
}
div.card {
  margin-top: 40px;
  text-align: center;
  min-width: 250px;
}
.form-group {
  background-color: rgba(128, 128, 128, 0.37);
  text-align: right;
  padding: 50px;
  margin: auto;
  font-weight: bold;
  width: 500px;
}

.domain {
  background-color: rgba(128, 128, 128, 0.37);
  text-align: justify;
  padding: 50px;
  margin: auto;
  font-weight: bold;
  width: 500px;
  line-height: 250%;
}
.form-group {
  margin-top: 60px;
}
.btn-primary {
  margin-top: 30px;
}

.twobtn {
  text-align: center;
}
button.btn-block {
  margin-top: 30px;
  width: 450px;
}
.logo {
  height: 110px;
  width: 280px;
  float: right;
  opacity: 0.7;
  margin: 20px;
}
.problems {
  margin-top: 40px;
  text-align: right;
}
small.text-muted {
  margin-bottom: 10px;
}
.userDiv {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.userCard {
  height: 300px;
  width: 250px;
  margin: 50px;
  flex: 20px;
  justify-content: flex-start;
  border: 1px solid black;
}
label {
  display: block !important;
}
input {
  float: left;
}
.answer {
  color: red;
}
.pull {
  width: 40%;
  text-align: right;
  margin: 40px;
  justify-content: flex-start;
}
.push {
  width: 40%;
  text-align: right;
  margin: 40px;
  justify-content: flex-start;
}
.footer {
  width: 100%;
  height: 100px;
  background-image: url("./assets/home.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
