body {
  direction: rtl;
  text-align: center;
  background-image: url(./assets/home.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 700px;
}
p {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header {
  width: 100%;
  text-align: center;
}
.pbtn {
  justify-content: center;
  margin: 50px;
  height: 200px;
  width: 200px;
}
.title {
  margin-top: 30px;
}
.nav-tabs {
  font-size: 20px;
}

.category {
  display: inline-block;
  border: 2px groove black;
  padding: 40px;
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.555);
  flex: 20px;
  height: 220px;
  width: 220px;
  text-align: center;
  font-weight: bold;
}

li:hover {
  background-color: azure;
}
.card {
  margin-top: 40px;
  text-align: center;
}
.form-group {
  background-color: rgba(128, 128, 128, 0.37);
  text-align: justify;
  padding: 50px;
  margin: auto;
  font-weight: bold;
  width: 500px;
}
.domain {
  background-color: rgba(128, 128, 128, 0.37);
  text-align: justify;
  padding: 50px;
  margin: auto;
  font-weight: bold;
  width: 500px;
  line-height: 250%;
}
form-group {
  display: flexbox;
}
.btn-primary {
  margin-top: 30px;
}

.twobtn {
  text-align: center;
}
button.btn-block {
  margin-top: 30px;
  width: 450px;
}
.logo {
  height: 110px;
  width: 280px;
  margin-bottom: 20px;
  float: right;
  opacity: 0.7;
  margin: 20px;
}
.problems {
  margin-top: 40px;
  text-align: right;
}
